/* body */
html, body{
    margin:0;
    width: 100%;
    height: 100%;    
    overflow:auto;
}
* {
    box-sizing: border-box;
}
h3 {
    margin-top: 0;
}
table {
    text-align: center;
    border-collapse: collapse;
    width: fit-content;
}
table tr {
    display: block;
}
table thead tr:first-child {
    background-color: #EEEEEE;
    margin-bottom: 5px;
}
table thead td{
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
table td {
    border: 1px solid #ddd;
    padding: 10px;
}
table td:nth-child(1) {
    width: 200px;
}
table td:nth-child(2) {
    width: 150px;
}
table td:nth-child(3) {
    width: 180px;
}
table td:nth-child(4) {
    width: 150px;
}
table#students-list-table td:nth-child(1) {
    width: 100px;
}
table#students-list-table td:nth-child(2) {
    width: 130px;
}
table#students-list-table td:nth-child(3) {
    width: 150px;
}
table#students-list-table td:nth-child(4) {
    width: 130px;
}
table#students-list-table td:nth-child(5) {
    width: 110px;
}
table#students-list-table td:nth-child(6) {
    width: 100px;
}
table#students-list-table td:nth-child(7) {
    width: 130px;
}
table#students-list-table button {
    width: 100px;
    border-radius: 5px;
}
table td:nth-child(5),table td:nth-child(6),table td:nth-child(7),table td:nth-child(8) {
    width: 70px;
}
table#my-info-table td {
    width: 150px;
}
table#professor-subjects-table td:nth-child(1) {
    width: 200px;
}
table#professor-subjects-table td:nth-child(2) {
    width: 80px;
}
table#professor-subjects-table td:nth-child(3) {
    width: 400px;
}
table#students-grade-table td:nth-child(1) {
    width: 120px;
}
table#students-grade-table td:nth-child(2) {
    width: 120px;
}
table#students-grade-table td:nth-child(3) {
    width: 200px;
}
table#students-grade-table td:nth-child(4) {
    width: 60px;
}
table#students-grade-table td:nth-child(5) {
    width: 100px;
}
tbody {
    overflow: auto;
    display: block;
    border: 1px solid #ddd;
}
tbody tr:nth-child(even){
    background-color: #f2f2f2;
}
table#subjects-list tbody{
    height: 400px;
}
table#apply-subjects-list tbody {
    height: 250px;
}
table#saved-subjects-list tbody {
    height: 200px;
}
table#students-list-table tbody {
    height: 500px;
}
button {
    cursor: pointer;
}
button:focus {
    outline: none;
}

/********** Login ***********/

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}
.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 30px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.vertical-center{
    position: relative;
    top: 50%;
    display: block;
    transform: translate(0, -50%);    
}
.horizontal-center{
    margin:0 auto;
}

/* nav-container */
#nav-container{
    border-bottom: 1px solid black;
    width: 100%;
    height: 50px;
}
#nav-content-container{
    float:right;
    height:100%;
}
.nav-content{
    position:relative;
    width:150px;
    height:100%;
    display:inline-block;
    vertical-align:top;
    text-align:center;
}

/* nav-container end */



/* content-container */
#content-container{
    width: 100%;
    height: calc(100% - 50px);
}

/* sidebar-container */
#sidebar-container{
    border-right:1px solid black;
    width: 150px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
#admin-container{
    width:100%;
    margin: 0 auto 30px;
}
#prof-container{
    width:100%;
    margin: 0 auto 30px;
}
#student-container{
    width:100%;
}
.sidebar-content{
    width:100%;
    height:50px;
}
.sidebar-content button {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: none;
    transition: 300ms;
}
.sidebar-content button:hover {
    background-color: #DDDDDD;
}
/* sidebar-container end */


/* main-view-container */
#main-view-container{
    width: calc(100% - 150px);
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.main-view-content{
    width: 100%;
    height: 100%;
    display:none;
}
#view-manage-subject{
    display:block;
    width: 100%;
    height: 100%;
}
#main-view-nav-container{
    width: 100%;
    height: 50px;
}
#main-view-nav-content-container{
    float:right;
    height:100%;
}

#view-manage-subject-content{
    width:100%;
    height:calc(100% - 50px);
}
/********** 학생 신상정보 페이지 **********/


/********** 학번/교번 생성 페이지 **********/
.register-user-container {
    width: 400px;
    border: 1px solid #444444;
    padding: 50px;
}

/********** 과목관리 페이지 **********/
.subject-management {
    height: 100%;
    overflow: auto;
}
.switch-box {
    display: none;
    text-align: center;
    width: fit-content;
}
.swich-box {
    display: none;
}
.modify-input-field {
    display: inline-block;
    vertical-align: top;
    padding: 30px;
}
.modify-input-field:first-child {
    border-right: 1px solid black;
}

/********** 개인 신상정보 조회 **********/
.info-table-container {
    width: fit-content;
    text-align: center;
}
.state-wrapper {
    border-radius: 5px;
    height: 80px;
    padding: 10px;
}
#enable-state-input {
    width: 100%;
    height: 30px;
    border: 1px solid #3333;
    border-radius: 5px;
}
#state-input-container {
    display: none;
}

/********** 수강신청 **********/
.apply-container, #studets-grade-section {
    text-align: center;
    width: fit-content;
}
.plan-header {
    margin-top: 0;
    text-align: center;
}
.subject-name {
    cursor: pointer;
}
#subjectPlanModal {
    display: none;
    position: fixed;
    padding: 20px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #FFFFFF;
    border: 2px solid #333333;
    border-radius: 10px;
    width: 400px;
    height: 240px;
    z-index: 9999;
}

/********** 강의계획서 관리 **********/
#modify-subject-plan-section {
    text-align: center;
}